---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  ogImage?: string;
}

const props = Astro.props;
---
<BaseLayout {...props}>
  <slot name="head" slot="head" />

  <div class="min-h-dvh flex flex-col">
    <slot />
  </div>
</BaseLayout>
